# --- PyTorch Repository (CUDA 12.1) ---
# 이 옵션은 PyTorch를 우선적으로 CUDA 버전으로 찾게 합니다.
--extra-index-url https://download.pytorch.org/whl/cu121

# --- GUI ---
PyQt6
# 디자이너 툴이 필요없으면 아래 줄은 지워도 됩니다.
pyqt6-tools

# --- Vision ---
opencv-python>=4.8.0
mediapipe>=0.10.0
# 호환성을 위해 numpy 2.0 미만으로 고정
numpy>=1.24.0,<2.0.0

# --- Web/Backend ---
Flask>=2.3.0
Flask-SQLAlchemy


# --- Deep Learning ---
torch
torchvision
torchaudio